

<div class="page-header">
  <h1>Welcome to Fetch</h1>
</div>

<p>This is a school project by Tania and Briana at the Flatiron school.</p>
<p>Fetch is a free service to connect you with pets to cuddle! Sign up and
offer your pets for cuddles, or look through pets already available and schedule a
cuddle session today!</p>


<p>Scroll through the pets, find one you'd love to spend time with, and click on their photo to view their info and schedule a cuddle.</p>
