

<div class="page-header">
  <h1>All CuddleBuddies</h1>
</div>


<figure>
  <% @not_user_pets.each do |pet| %>
  <img src='<%= pet.pet_photo %>' alt='missing' style="max-height: 500px; max-width: 300px"/>
  <figcaption><b>Name: <%= link_to pet.name, pet_path(pet) %></b></figcaption>
    <% end %>
</figure>
