

<div class="page-header">
  <h1>All CuddleBuddies</h1>
</div>


<figure>
  <% @not_user_pets.each do |pet| %>
  <%= link_to pet_path(pet) do %>
  <img src='<%= pet.pet_photo %>' alt='missing' style="max-height: 500px; max-width: 300px"/>
  <figcaption><p><%= pet.name%>
    <% end %>
  </p></figcaption>
    <% end %>
</figure>
