
<div class="page-header">
<h1>Your Pets</h1>
</div>

<% if flash[:notice] %>
<div class="alert alert-info">
<%= flash[:notice] %>
</div>
<% end %>



  <figure>
    <% @user_pets.each do |pet| %>
    <img src='<%= pet.pet_photo %>' alt='missing' style="max-height: 500px; max-width: 300px"/>
    <figcaption><p><%= link_to pet.name, pet_path(id: pet.id) %></p></figcaption>
      <% end %>
    </figure>
